body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF1E4;
    padding-top: 100px; /* Add padding to avoid content being hidden by header */
}

header {
    background-color: #FFF1E4;
    padding: 5px 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.logo-container img.logo-image {
    height: 80px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "DM Serif Display", serif;
}

nav .nav-links li a:hover {
    background-color: #CDB693;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px; /* Adjust width as needed */
}

.search-input:focus {
    outline: none;
}

.search-btn {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #555;
}

.search-results {
    max-width: 1000px; /* Adjust max-width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: #ff9b9b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust column width as needed */
    grid-gap: 20px;
}

.search-results h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "DM Serif Display", serif;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFF1E4;
}

.recipe-card img {
    width: 100%;
    border-radius: 5px;
}

.recipe-card h3 {
    font-size: 1rem; /* Adjust font size as needed */
    margin-top: 10px;
    text-align: center;
    font-family: "DM Serif Display", serif;
}

.recipe-card p {
    font-size: 0.9rem; /* Adjust font size as needed */
    color: #25242A; 
    margin-top: 5px;
    font-family: "Ubuntu", sans-serif;
}

.recipe-card .btn {
    display: block;
    width: 100%;
    background-color: #25242A;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-family: "DM Serif Display", serif;
}

.recipe-card .btn:hover {
    background-color: #555;
}

footer {
    background-color: #CDB693;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
