body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F7E8;
}

header {
    background-color: #FFF1E4;
    padding: 15px 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Updated */
    align-items: center; /* Updated */
    position: fixed; /* Fixed position */
}

.logo-container {
    margin-left: 20px; /* Adjust margin */
}

.logo-container img.logo-image {
    height: 80px; /* Adjust height as needed */
}

nav {
    background-color: #FFF1E4;
    padding: 10px 20px; /* Adjusted padding */
    text-align: center;
    z-index: 999; /* Ensure it's above other content */
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "DM Serif Display", serif;
}

nav .nav-links li a:hover {
    background-color: #CDB693;
}

.hero {
    background-color: #FFF1E4; /* Background color */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #540000;
    padding-top: 180px; /* Adjust for header and nav height */
}

.hero-content {
    max-width: 600px;
    background: url('hero-background.jpg') no-repeat center center/cover;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: #25242A;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Rubik Mono One', sans-serif;
}

.hero p {
    font-size: 25px;
    margin-bottom: 30px;
    font-family: "Jacquard 12", system-ui;
}

.hero .btn {
    background-color: #F37171; /* Semi-transparent background color */
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.hero .btn:hover {
    background-color: rgba(255, 69, 0, 0.8); /* Hover color */
}

.recipes {
    padding: 60px 20px;
    text-align: center;
    background-color: #FFF1E4;
}

.recipes h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    font-family: "DM Serif Display", serif;
}

.recipe-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-card {
    background-color: #CDB693;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    padding: 20px;
    text-align: left;
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #333;
    font-family: "DM Serif Display", serif;
}

.recipe-card p {
    font-size: 16px;
    margin-top: 10px;
    color: #FFF1E4;
    font-family: "Ubuntu", sans-serif;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

:root {
    --bg: #1a1e24;
    --color: #F37171;
    --font: "DM Serif Display", serif;
}

.wrapper {
    padding: 0.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: #F37171;
    color: #25242A;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}
