body {
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
    padding-top: 0;
    box-sizing: border-box;
    background-color: #F9F7E8;
}

header {
    background-color: #FFF1E4;
    padding: 15px 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
}

.logo-container {
    margin-left: 20px; 
}

.logo-container img.logo-image {
    height: 80px; 
}

nav {
    background-color: #FFF1E4;
    padding: 10px 20px; 
    text-align: center;
    z-index: 999; 
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

nav .nav-links li a:hover {
    color: #FF5733; 
}

.hero {
    background-image: url('image/hero-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
    color: #000000;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

.hero-text h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #333333;
}

.hero-text p {
    font-size: 18px;
    color: #333333;
}

.button {
    background-color: #FF5733;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
}

.button:hover {
    background-color: #C70039;
}

.recipes {
    padding: 50px 20px;
    text-align: center;
}

.recipe-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.recipe-card {
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card h3 {
    margin: 10px;
    font-size: 24px;
}

.recipe-card p {
    margin: 10px;
    font-size: 16px;
    color: #666;
}

footer {
    background-color: #FFF1E4;
    padding: 20px;
    text-align: center;
}
